* {
  @include box-sizing(border-box);
}
*:before,
*:after {
  @include box-sizing(border-box);
}
// Alignment
.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
.text-justify        { text-align: justify; }
.text-nowrap         { white-space: nowrap; }
.text-lowercase      { text-transform: lowercase; }
.text-uppercase      { text-transform: uppercase; }
.text-capitalize     { text-transform: capitalize; }


.clearfix {
  @include clearfix;
}
.center-block {
  @include center-block;
}
.img-block{
  @include img-responsive;
}
.fr {
  float: right;
}
.fl {
  float: left;
}

.hide {
  display: none !important;
}
.show {
  display: block !important;
}




//
// Buttons
// --------------------------------------------------


// Base styles
// --------------------------------------------------

.btn {
  border-radius: 0px;
  display: inline-block;
  margin-bottom: 0; // For input.btn
  font-weight: $btn-font-weight;
  text-align: center;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;

  &,
  &:active,
  &.active {
    &:focus,
    &.focus {
      @include tab-focus;
    }
  }

  &:hover,
  &:focus,
  &.focus {
    color: $grey-btn-focus;
    text-decoration: none;
  }

  &:active,
  &.active {
    outline: 0;
    background-image: none;
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    cursor: $cursor-disabled;
  }

  // [converter] extracted a& to a.btn
}

a.btn {
  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}

// Link buttons
// -------------------------

// Make a button look and behave like a link
.btn-link {
  color:$text-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
  }
  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }
  &:hover,
  &:focus {
    color: $text-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}


// Block button
// --------------------------------------------------

.btn-block {
  display: block;
  width: 100%;
}


// Specificity overrides
input[type="submit"],
input[type="reset"],
input[type="button"] {
  -webkit-appearance: none;
  -webkit-border-radius:0;
    border-radius:0;
  &.btn-block {
    width: 100%;
  }
}

input:focus{
  outline:none;
}
input[type=text],input[type=number] {
    /* Remove First */
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

.card-block{
  margin-top: 12px;
  margin-bottom: 12px;
  background-color:$white;
  @include boxShadow(1px 1px 4px #D4D4D4);
  padding: $base-padding;
}
button:focus{
  outline:none !important;
}
.h4, h4 {
    font-size: 18px;
}
.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.curved {
    border-radius: 25px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
}
.btn-success{
      background-color: #00CF17;
    color: black;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}