
/*test css*/
$dark-bg:#FF0000;
$header-bg:#ea4c53;

$main-bg:#F3F3F3;

$border-color:#DCDCDC;
$banner-bg:#DFDFDF;
$text-color:#5a5a5a;
$grey-btn-bg:#ebebeb;/* grey buttons */
$grey-btn-focus:#5A5A5A;
$primary-btn-bg:#D0100C;
$white:#FFFFFF;
$btn-font-weight:600;
$cursor-disabled:not-allowed;
$link-hover-decoration:underline;
$btn-link-disabled-color:#CCCCCC;
$solid:solid;

$button-size :32px;
$transition: .2s;

/* header specific */
$header-padding: 9px 12px 0px 12px;
$header-height:4em;

$base-padding:12px;


/*toast msg block */
$toast-bg:#404040;
$toast-color:#FFFFFF;

/* footer styles  */
$footer-height:6em;
$footer-bg:#212b33;
$darkbtn-bg:#212b33;
$darkbtn-border:#92979b;


/*materia input */
$input-border:#dcdcdc;
$error-border:#FF1F1F;
$error-clr:#BB2121;
