.container-main{
    padding-bottom: 210px;
}
.confirm-head{
    text-align:center;
    color:green;
    font-size: 25px;
    .icon-smile {
        margin-top: 12px;
        display: block;
        font-size: 1.6em;
    }
}
.cart-id{
    display: none !important;
}
.test-head-row {
    color: #FFFFFF;
    background: #434343;
}
.fr.nv-xtra{
    padding-right: 0px
}
.confirm-test-main {
    padding: 1em;
    background: rgba(255, 255, 255, 0.42);
    margin-top: 40px;
}

@media (max-width: 1023px){


}