
@import "/bootstrap.min.css";
html{
    background-image: url("/public/images/ListPage_Cover.jpg");
    background-repeat: no-repeat;
    background-size: 100% 325px;
}
.container-main{
    padding-bottom: 210px;
}