
@import "/bootstrap.min.css";
html{
    background-image: url("/public/images/ListPage_Cover.jpg");
    background-repeat: no-repeat;
    background-size: 100% 325px;
}
.container-main{
    padding-bottom: 210px;
}
.container.aboutus.footerfixlisting {
    padding: 20px;
    background: #ffffff;
    line-height: 22px;
}
h2 {
    font-size: 32px;
}
table td {
    padding: .5em;
}