
@import '../../node_modules/react-dates/lib/css/_datepicker.css';
html{
    background-image: url("https://www.flebie.com/img/ListPage_Cover.jpg");
    background-repeat: no-repeat;
    background-size: 100% 325px;
}
.container-main{
    padding-bottom: 210px;
}
.lab-lists > a {
    width: 33.3%;
    float: left;
    padding: 1em;
    display: block;
    text-decoration: none !important;
    background: #FFFFFF;
    >div{
        position: relative;
        box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.66);
            min-height: 280px;
            color: #333333;
    }
}
.lab-lists .item-head {
    width: 100%;
    position: relative;
}
.striked-price {
    position: relative;
    top: 0px;
    font-size: 18px;
    padding: 6px;
    font-weight: bolder;
}
.striked-price:before {
    position: absolute;
    top: 12px;
    content: " ";
    height: 1px;
    background: #000000;
    width: 115%;
    transform: rotate(10deg);
    left: -5px;
}
.actual-price {
    position: relative;
    z-index: 2;
    color: black;
    background: url("https://www.flebie.com/img/price_ribbon.png");
    background-size: cover;
    padding-bottom: 5px;
    padding-left: 10px;
}
.lab-footer {
    padding: 12px;
    h3{
        margin:0px;
        font-size: 1em;
    }
     h6 {
        font-size: .9em;
        color: #3f3f40;
        font-weight: lighter;
    }
}
.flebie-btn{
    background-color: #00cf17;
    border: medium none;
    border-radius: 15px;
    font-weight: bold;
    line-height: 30px;
    padding: 0 20px 0 20px;
    color: #fff
}
.lab-details {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.90);
    color: #ffffff;
}
.clearfix.details-block div {
    padding: .5em 1em;
    *{
        color: #ffffff;
    }
    .icon{
        margin-right: 6px;
    }
    .icon.icon-delete {
        color: #ffffff;
    }
}
.tab-block .fade-out {
    height: 0;
    overflow: hidden;
}
.tab-item{
    color: #ffffff;
}
.tab-item.fade-in {
    height: auto;
}
.tab-head-row .btn.tab-btn {
    padding-left: 0px;
    text-decoration: none;
    margin-right: 12px;
    color: #000000;
}
.btn.tab-btn.active-tab {
    background: #000000;
    color: #fff;
    padding-left: 12px;
}
.tab-block {
    min-height: 160px;
    overflow: hidden;
}
.lab-options{
     >SPAN {
        margin: 0px 4px;
     }
     .icon-tick{
         color:#018429;
     }
}
.lab-lists {
    margin-top: 20px;
    background: #FFFFFF;
}
@media (max-width: 1023px){
    .col3 div{
        width: 100%;
    }
    .container-main {
        padding-bottom: 30px;
        background-size: 100% 340px;
    }
    .lab-lists > a{
        width: 100%;
    }
    
}