
@import '../../node_modules/react-dates/lib/css/_datepicker.css';
html{
    background-image: url("https://www.flebie.com/img/ListPage_Cover.jpg");
    background-repeat: no-repeat;
    background-size: 100% 325px;
}
.container-main{
    padding-bottom: 210px;
}
.col3{
    //display: table;
    width: 100%;
    div {
        width: 33.3%;
        padding: 12px;
        float: left;
        text-align: center;
        position: relative;
        margin-bottom: 50px;
    }
}
.pop-test {
    display: block;
    width: 130px;
    height: 130px;
    background-image: url(/public/images/spritesheet.png);
    margin: 0 auto;
    background-repeat: no-repeat;
    label {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        max-width: 80%;
        text-align: center;
        margin: auto;
        color: #000000;
        text-decoration: none !important;
    }
}
.poptest0{
        background-position: -140px -5px;
}
.poptest1{
     background-position: -5px -5px;
}
.poptest2{
     background-position: -5px -140px;
}
.poptest3{
     background-position: -5px -140px;
}
.poptest4{
     background-position:-140px -140px;
}
.poptest5{
     background-position:-5px -275px;
}
.poptest6{
     background-position:-275px -140px;
}